nav.navbar {
  background-color: #555;
  display: flex;
  padding-left: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .navbar-title {
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 24px;
  }
}
